<h3>
    Page Title
    <small>Page subtitle</small>
</h3>

<p>Bacon? Yes, bacon. Sweet, sweet bacon. Ground round pastrami pork loin tenderloin jerky.</p>

<form {{action "updateUser" on="submit"}}>
    <fieldset>
        <legend>Your Contact Info (* Required)</legend>

        <div class="row">
            <div class="large-12 columns">
                <label class={{if model.errors.name "error"}}>
                    Your Name *
                    {{input type="text" name="name" placeholder="John Smith" value=model.name}}
                </label>
                {{#liquid-if model.errors.name}}
                    <small class="error">{{model.errors.name}}</small>
                {{/liquid-if}}
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label class={{if model.errors.email "error"}}>
                    Email *
                    {{input type="email" name="email" placeholder="john@example.com" value=model.email}}
                </label>
                {{#liquid-if model.errors.email}}
                    <small class="error">{{model.errors.email}}</small>
                {{/liquid-if}}
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Phone
                    {{input type="tel" placeholder="+1 555-555-1212" value=model.phone}}
                </label>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Where You Live</legend>

        <div class="row">
            <div class="large-12 columns">
                <label>
                    Address
                    {{input type="text" name="address" placeholder="123 Awesome Street" value=model.address}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>
                    City
                    {{input type="text" name="city" placeholder="London" value=model.city}}
                </label>
            </div>
            <div class="large-6 columns">
                <label>
                    Province/State
                    {{input type="text" name="provinceOrState" placeholder="ON" value=model.provinceState}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Country
                    {{view "select" content=countries value=model.country}}
                </label>
            </div>
        </div>
        {{#liquid-if shouldShowPostalCodeField}}
            <div class="row">
                <div class="large-4 columns">
                    <label class="error">
                        {{input type="text" name="postalCode" placeholder="A1A 2B2" value=model.postalCode}}
                    </label>
                    {{#liquid-if model.errors.postalCode}}
                        <small class="error">{{model.errors.postalCode}}</small>
                    {{/liquid-if}}
                </div>
            </div>
        {{/liquid-if}}
    </fieldset>

    <p>Prosciutto ball tip filet mignon andouille frankfurter chicken rump sausage meatball.</p>

    {{#liquid-if saveError}}
        <div data-alert class="alert-box alert">
            {{saveError}}
            <a class="close" {{action "closeAlert"}}>&times;</a>
        </div>
    {{/liquid-if}}

    <button type="submit" class="{{if isSaveSuccessful "success"}}" disabled={{isSubmitDisabled}}>
        {{submitMessage}}
    </button>
</form>
