<h3>
    Page Title
    <small>Page subtitle</small>
</h3>

<p>Bacon? Yes, bacon. Sweet, sweet bacon. Ground round pastrami pork loin tenderloin jerky.</p>

<form {{action "updateUser" on="submit"}}>
    <fieldset>
        <legend>Your Contact Info</legend>

        <div class="row">
            <div class="large-12 columns">
                <label>
                    Your Name
                    {{input type="text" name="name" placeholder="John Smith" value=model.name}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Email
                    {{input type="email" name="email" placeholder="john@example.com" value=model.email}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Phone
                    {{input type="tel" placeholder="+1 555-555-1212" value=model.phone}}
                </label>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Where You Live</legend>

        <div class="row">
            <div class="large-12 columns">
                <label>
                    Address
                    {{input type="text" name="address" placeholder="123 Awesome Street" value=model.address}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>
                    City
                    {{input type="text" name="city" placeholder="London" value=model.city}}
                </label>
            </div>
            <div class="large-6 columns">
                <label>
                    Province/State
                    {{input type="text" name="provinceOrState" placeholder="ON" value=model.provinceState}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Country
                    {{view "select" content=countries value=model.country}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns">
                <label>
                    {{input type="text" name="postalCode" placeholder="A1A 2B2" value=model.postalCode}}
                </label>
            </div>
        </div>
    </fieldset>

    <p>Prosciutto ball tip filet mignon andouille frankfurter chicken rump sausage meatball.</p>

    <button type="submit" disabled={{isSubmitDisabled}}>Save My Info</button>
</form>
